.jumbotron
  .container
    .row
      .col-md-7
        h1 Your computer not working?
        p
          | Is your computer running slow? or may be not at all? Call us for a quick and easy quote
        p
          a.btn.btn-primary.btn-lg(href='#', role='button') Learn more »
      .col-md-5
        img(src='images/Laptop-on-desk.jpg')


